//ν‘Έν„°
#main-footer{
    background: #343a40;
    color: #fff;
}

//ν—¤λ”
#page-header {
    height: 200px;
    background: url('../assets/img/music.jpg');
    background-position: 54% 50%;
    color: #fff;
    border-bottom: 1px;
    padding-top: 60px;

}